<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://kit.fontawesome.com/e098366c74.js" crossorigin="anonymous"></script>
  <title></title>
</head>
<body>
  <header>
    <a href="/"><img class="header-logo" src="/img/pokemon-logo.png" alt="Logo Pokemon" /></a>
    <nav>
      <a href="/">Pokemons</a>
      <a href="/types">Types</a>
      <a href="/pokedex">Pokedex (<%= locals.nbPokedex %>)</a>
      <form method="GET" action="/pokemons" class="search">
        <input type="text" name="search" placeholder="Rechercher un Pokemon"/>
        <input type="submit" value="Rechercher"/>
      </form>
    </nav>
  </header>

  